.animal-img1 {
  background: url(../images/animal-1.jpg) center center/cover;
}

.animal-img2 {
  background: url(../images/animal-2.jpg) center center/cover;
}

.animal-img3 {
  background: url(../images/animal-3.jpg) center center/cover;
}

.animal-img4 {
  background: url(../images/animal-4.jpg) center center/cover;
}

.animal-img5 {
  background: url(../images/animal-5.jpg) center center/cover;
}

.animal-img6 {
  background: url(../images/animal-6.jpg) center center/cover;
}

.animal-img7 {
  background: url(../images/animal-7.jpg) center center/cover;
}

.animal-img8 {
  background: url(../images/animal-8.jpg) center center/cover;
}
